<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showhide demo</title>
</head>
<body>
    <h2>ng-show/ng-hide demo</h2>
    <hr>
    <div ng-app ng-init="show=true;hide=false">
        <p>show the picture <input type="checkbox" ng-model="show"></p>
        <img src="sunflower.jpg" width="50%" ng-show="show"/>
        <p>hide the picture <input type="checkbox" ng-model="hide"></p>
        <img src="/purpleflower.jpg" width="50%" ng-hide="hide"/>
    </div>
</body>
</html>